<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema Ocupacional</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Vital Saúde - Sistema Ocupacional</h1>

        <p>Prova de Conceito - Projeto Integrador</p>

        <div class="menu">
            <a href="/pacientes">Cadastrar Pacientes</a>

            <a href="/empresas">Cadastrar Empresas</a>

            <a href="/agendamento">Agendar Exames</a>

            <a href="/aso">Emitir ASO</a>
        </div>
    </div>
</body>
</html>